.save {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 20px 15px;
    border: 1px solid black;
    width: 280px;
    margin-left: 108px;
}

.save:hover {
    background-color: white;
    color: black;
}

.submit {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 20px 15px;
    border: 1px solid black;
    width: 330px;
    margin-left: 88px;
}

.submit:hover {
    background-color: black;
    color: white;
}

.cancel {
    background-color: #F0F0F0;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    color: #616066;
    margin: 20px 15px;
    border: 1px solid #F0F0F0;
    width: 380px;
    margin-left: 60px;
}

.cancel:hover {
    background-color: #616066;
    color: #F0F0F0;
}

.sing {
    background-color: #0074DA;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 20px 15px;
    border: 1px solid #0074DA;
    width: 450px;
    margin-left: 20px;
}

.sing:hover {
    background-color: white;
    color: #0074DA;
}